@keyframes slidetoTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slidetoright {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(100%);
  }
}
.components-active {
  animation-name: slidetoTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  transform: translateY(0);
}
.App {
  margin: 0 auto;
  text-align: center;
  background-image: transparent;
  width: 90%;
  height: 100%;
  transition: 0.5s all ease-in;
  animation-name: slidetoTop;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  transform: translateY(0);
}
.photo {
  height: 150px;
  width: 200px;
}

.show-active {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 50px;
  background-color: transparent;
  transition: 0.5s all ease-out;
  display: inline;

  transition: 0.5s all ease-out;
  border-radius: 10px;
}
.show-active:hover {
  background-color: rgb(163, 18, 180);
  transform: translateY(-15px);
}
.show-inactive {
  transition: all 0.3s ease-out;
  position: relative;
  visibility: hidden;
}
.arrow {
  position: relative;
  left: 35px;
}
.arrow2 {
  position: relative;
  left: 35px;
  transform: rotate(-90deg);
  bottom: 2px;
}
.wrap-inactive {
  transform: translateY(-150px);
  position: relative;
  opacity: 0;
  top: 100px;
  z-index: 999;
  display: block;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.wrap-active {
  margin-top: 2%;
  padding: 15px 50px;
  background-color: transparent;
  transition: 0.5s ease-out;
  display: inline;
  border-radius: 10px;
}
.wrap-active:hover {
  background-color: rgb(163, 18, 180);
  transform: translateY(-15px);
}
.slider {
  margin-left: 50px;
}
